:root {
  --theme-primary-color: #002323;
  --theme-secondary-color: #D0E4EF;
  --theme-background-color: white;
  --theme-heading-color: black;
  --theme-card-color: #fafafa;
  --theme-card-text-color: #4A4751;
  --theme-book-author-color: black;
}

html {
  font-size: 12px;
}

* {
  font-family: "Roboto Mono", monospace;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--theme-background-color);
}

#heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  margin: 2rem;
  color: var(--theme-heading-color);
}

h2 {
  color: var(--theme-heading-color);
}

#info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
}

#info-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 8px, rgba(0, 0, 0, 0.5) 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 8px, rgba(0, 0, 0, 0.5) 0px 0px 1px;
  background-color: var(--theme-card-color);
  border-radius: 5px;
  padding: 1rem 2rem 2rem 2rem;
  margin-top: 2rem;
}

.info-text {
  width: 25rem;
  font-size: 1.2rem;
  color: var(--theme-card-text-color);
  padding: 1rem;
}

#form-container {
  z-index: 2;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new-book-form {
  z-index: 2;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30rem;
  background-color: var(--theme-card-color);
  border-radius: 5px;
  padding: 1rem 3rem 3rem 3rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 8px, rgba(0, 0, 0, 0.5) 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 8px, rgba(0, 0, 0, 0.5) 0px 0px 1px;
}

.new-book-form h2 {
  border-bottom: solid 1px lightgray;
  width: 25rem;
  padding-bottom: 1rem;
  text-align: center;
}

.new-book-form label {
  width: 25rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0;
  color: var(--theme-card-text-color);
}

.new-book-form input {
  width: 25rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: solid 1px lightgray;
  border-radius: 5px;
}

.new-book-form input:focus {
  outline: none;
  border: solid 1px slategray;
}

.read-status-selector {
  width: 27rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.read-status-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
}

.read-status-option p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--theme-card-text-color);
}

.selected-read-status-option p {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.read-icon {
  color: transparent;
  font-size: 1rem;
  margin-right: 0.7rem;
  background-color: lightgray;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}

.form-submit {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0rem;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  border: solid 1px lightgray;
  background-color: whitesmoke;
  width: 8rem;
}

.form-submit:hover {
  background-color: #dddddd;
}

.form-submit:focus {
  outline: none;
  border: solid 1px darkgray;
}

.warning {
  background-color: #fac8c8;
  border: solid 1px #cca2a2;
}

.warning:hover {
  background-color: #cca2a2;
}

#delete {
  visibility: hidden;
  position: absolute;
}

#cancel {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  top: -1.1rem;
  right: 1rem;
}

#cancel-icon {
  color: #644848;
  position: absolute;
  bottom: -0.9rem;
  left: 0.58rem;
}

#fade {
  visibility: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
}

.book-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 20rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.edit-book-button {
  -webkit-transition: all 70ms;
  transition: all 70ms;
  color: var(--theme-primary-color);
  visibility: hidden;
  position: relative;
  bottom: 2.2rem;
  left: 6.9rem;
  border-radius: 5px;
  border: solid 1px #bdbdbd;
  background-color: #e2e2e2;
}

.edit-book-button:hover {
  color: white;
  background-color: var(--theme-primary-color);
  border-color: transparent;
}

.edit-book-button:focus {
  outline: none;
  border: solid 1px darkgray;
}

.book {
  -webkit-transition: all 100ms;
  transition: all 100ms;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
  /* border: solid 1px rgb(197, 197, 197); */
  background-color: var(--theme-card-color);
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 8px, rgba(0, 0, 0, 0.5) 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 8px, rgba(0, 0, 0, 0.5) 0px 0px 1px;
}

.book p {
  color: var(--theme-card-text-color);
}

.book-attribute {
  text-align: center;
  padding: 1rem 0;
  width: 18rem;
}

.book-title {
  font-style: italic;
  padding: 1rem;
  margin: 0;
  width: 18rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  color: white;
  overflow-wrap: break-word;
}

.book-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  margin-top: -1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--theme-primary-color);
}

.book-author {
  font-weight: bolder;
  padding: 1rem;
  margin: 0;
  height: 40px;
  background-color: var(--theme-secondary-color);
  border-bottom: solid 1px lightgray;
  border-top: solid 1px lightgray;
  color: var(--theme-book-author-color) !important;
}

.book-read-status {
  font-weight: 600;
}

#add-book-button {
  -webkit-transition: all 80ms;
  transition: all 80ms;
  background-color: var(--theme-secondary-color);
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.6rem 1rem;
  margin-bottom: 0.2rem;
}

#add-book-button:hover {
  background-color: var(--theme-primary-color);
  color: white;
}

#add-book-button:focus {
  outline: none;
}

#theme-switch-button {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--theme-card-color);
  color: var(--theme-card-text-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

#theme-switch-button:hover {
  background-color: var(--theme-card-text-color);
  color: var(--theme-card-color);
}

#theme-switch-button:focus {
  outline: none;
}
/*# sourceMappingURL=styles.css.map */